body {
		background-color: #202020;
		margin: 10px 20px;
		color: white;
		font-family: "Helvetica", "Arial", "sans-serif";
	}
a {
	color: orange;
}
a:hover {
	color: white;
}
.centerH2 {
	text-align: center;
	color: white;
	font-family: "Helvetica", "Arial", "sans-serif";
}
.centerH3 {
	text-align: center;
	color: white;
	font-family: "Helvetica", "Arial", "sans-serif";
}
.centerP {
	text-align: center;
	color: white;
	font-family: "Helvetica", "Arial", "sans-serif";
}

#svgResume {
	width: 800px;
	margin: 0 auto;
}

#svgParticle {
	width: 800px;
	margin: 0 auto;
}
#particleOptions{
	width:800px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 7px;
}

#svgForce {
	width: 800px;
	margin: 0 auto;
}
#forceOptions{
	width:800px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 7px;
}
#svgForce .node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}
#svgForce .link {
    stroke: #777;
    stroke-width: 2px;
}

#svgLinReg {
	width: 800px;
	margin: 0 auto;
}
#svgLinReg .bar rect {
	fill: #ccc;
}
#svgLinReg .brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}