#timer {
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}
#timer h2 {
    font-family: sans-serif;
}
button {
    margin: 0 auto;
    width: 100px;
    height: 40px;
}
button:hover {
    cursor: pointer;
}